<div class="center">
    <p>
      Hier stehen Infos zur Kampagne sowie zusammenhänge und Verkaufszahlen mit Produkt- und Kampagnefeatures
    </p>
</div>

<div>
  <div style="height: 2px; background-color: #eaeff5" class="my-2"></div>
  <p class="steckBrief">
  Zur Steigerung der Verkaufszahlen, soll eine Social-Media-Kampagne mit dem internen Projektnamen „Mockup“ 
  gestartet werden. Um deren Erfolg zu messen, werden daher Verkaufszahlen mit aktiver Kampagne, als auch 
  ohne Kampagne gesammelt und ausgewertet. Die Kampagne war in Deutschland während dem ganzen Jahr 2020 aktiv. 
  Deren Erfolg konnte im Anschluss mit einem vergleichbaren Markt im gleichen Zeitraum verglichen werden.

Unter anderem soll hier der Zusammenhang verschiedener Produktattribute, Features der Kampagne, 
sowie andere Aspekte auf die Verkaufszahlen des Produkts und untereinander visualisiert werden.
 Verschiedene Events, wie bspw. Die Europameisterschaft im Fußball beeinflussen daher sowohl die 
 fokussierte Werbeplattform, als auch die Verkaufszahlen.
</p>
</div>
<div class="grid-2-columns">
<div>
  <span>Steckbrief </span><br>
  <p class="steckBrief">Kampagene: MockUp </p><br>
  <p class="steckBrief">Budget: 2.7 Millionen € </p><br>
  <p class="steckBrief">Verantwortliche: Choro, Paul, Eric </p><br>
  <p class="steckBrief">Zeitraum: Januar-Dezember 2020 </p><br>
  <p class="steckBrief">Social-Media-Platformen: Instagram, SEA(Google) </p><br>
</div>
<div>
  <img src="assets/images/Netzwerkgraph.png" id="network" style="margin: 0 auto;" />
</div>
</div>