.mat-select-value-text .ng-tns-c115-1 .ng-star-inserted {
    font-size: 5px !important;
}
.lowerGreating {
    font-size: 30px;
    font-family: "AdineuePRO",Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }