<div id="greating">
<p class="lowerGreating">Verkaufszahlen</p>
</div>

<div class="grid-2-columns">
    <mat-checkbox class="example-margin" [(ngModel)]="checked" style="margin: 0 auto;">Mit Kampagne</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="indeterminate" style="margin: 0 auto;">Ohne Kampagne</mat-checkbox>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
    <mat-form-field appearance="fill" style="width: 250px;">
        <mat-select [(value)]="selectedT">
            <mat-option value="optionPeriode">Zeitperiode</mat-option>
            <mat-option value="optionY">Jahr</mat-option>
            <mat-option value="optionQ">Quartal</mat-option> 
            <mat-option value="optionM">Monat</mat-option> 
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill" style="width: 250px;" class="ml-2">
        <mat-select [(value)]="selectedQ" [disabled]="selectedT=='optionY' || selectedT == 'optionM' || selectedT == 'optionPeriode'">
            <mat-option>None</mat-option>
            <mat-option value="optionQ1">Quartal 1</mat-option>
            <mat-option value="optionQ2">Quartal 2</mat-option> 
            <mat-option value="optionQ3">Quartal 3</mat-option> 
            <mat-option value="optionQ4">Quartal 4</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill" style="width: 250px;" class="ml-2">
        <mat-select [(value)]="selectedM" [disabled]="selectedT=='optionQ' || selectedT == 'optionY' || selectedT == 'optionPeriode'">
            <mat-option>None</mat-option>
            <mat-option value="optionJanuar">Januar</mat-option>
            <mat-option value="optionFebruar">Februar</mat-option> 
            <mat-option value="optionMaerz">März</mat-option> 
            <mat-option value="optionApril">April</mat-option> 
            <mat-option value="optionMai">Mai</mat-option> 
            <mat-option value="optionJuni">Juni</mat-option> 
            <mat-option value="optionJuli">Juli</mat-option> 
            <mat-option value="optionAugust">August</mat-option> 
            <mat-option value="optionSeptember">September</mat-option> 
            <mat-option value="optionOktober">Oktober</mat-option> 
            <mat-option value="optionNovember">November</mat-option> 
            <mat-option value="optionDezember">Dezember</mat-option> 
        </mat-select>
    </mat-form-field>
</div>


<div *ngIf="selectedT == 'optionY'">


    <div *ngIf="checked && indeterminate">
        <img src="assets/images/jahr.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/jahrK.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/jahrO.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionQ' && selectedQ=='optionQ1'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/Quartal/Q1beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/Quartal/Q1mit.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/Quartal/Q1ohne.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionQ' && selectedQ=='optionQ2'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/Quartal/Q2beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/Quartal/Q2mit.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/Quartal/Q2ohne.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionQ' && selectedQ=='optionQ3'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/Quartal/Q3beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/Quartal/Q3mit.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/Quartal/Q3ohne.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionQ' && selectedQ=='optionQ4'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/Quartal/Q4beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/Quartal/Q4mit.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/Quartal/Q4ohne.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>


<div *ngIf="selectedT == 'optionM' && selectedM=='optionJanuar'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/Januar/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/Januar/mitK.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/Januar/ohneK.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>


</div>


<div *ngIf="selectedT == 'optionM' && selectedM=='optionFebruar'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/Februar/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/Februar/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/Februar/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionM' && selectedM=='optionMaerz'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/Maerz/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/Maerz/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/Maerz/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionM' && selectedM=='optionApril'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/April/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/April/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/April/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionM' && selectedM=='optionMai'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/Mai/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/Mai/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/Mai/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionM' && selectedM=='optionJuni'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/Juni/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/Juni/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/Juni/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionM' && selectedM=='optionJuli'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/Juli/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/Juli/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/Juli/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionM' && selectedM=='optionAugust'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/August/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/August/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/August/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionM' && selectedM=='optionSeptember'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/September/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/September/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/September/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionM' && selectedM=='optionOktober'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/Oktober/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/Oktober/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/Oktober/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionM' && selectedM=='optionNovember'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/November/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/November/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/November/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>

<div *ngIf="selectedT == 'optionM' && selectedM=='optionDezember'">
    <div *ngIf="checked && indeterminate">
        <img src="assets/images/einzelneMonate/Dezember/beide.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="checked && !indeterminate">
        <img src="assets/images/einzelneMonate/Dezember/mit K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>

    <div *ngIf="!checked && indeterminate">
        <img src="assets/images/einzelneMonate/Dezember/ohne K.png" id="line" class="center" style="margin: 0 auto;"/>
    </div>
</div>