<div id="greating">
  <h2>Analyse der Social-Media-Kampagne für Schuh X</h2>
</div>

<div class="grid-3-columns">
  <button [routerLink]="['/campagne']"
    class="
      bg-white
      hover:bg-gray-100
      text-gray-800
      font-semibold
      py-2
      px-4
      border border-gray-400
      rounded
      shadow
    "
  >
    Kampagneinfo
  </button>

  <button [routerLink]="['/analysis']"
    class="
      bg-white
      hover:bg-gray-100
      text-gray-800
      font-semibold
      py-2
      px-4
      border border-gray-400
      rounded
      shadow
    "
  >
    Analyse
  </button>

  <button [routerLink]="['/product']"
    class="
      bg-white
      hover:bg-gray-100
      text-gray-800
      font-semibold
      py-2
      px-4
      border border-gray-400
      rounded
      shadow
    "
  >
    Produktinfo
  </button>
</div>
<div class="grid-3-columns">
  
    <img src="assets/images/networkgraph.jpeg" id="network" style="margin: 0 auto;" />
  

  
    <img src="assets/images/jahr.png" id="network" style="margin: 0 auto;"/>
  

  
    <img src="assets/images/schuh.jpg" id="network" style="margin: 0 auto;"/>
  
</div>