<div id="greating">
  <h2>Analyse der Kampagne</h2>
</div>


      <div>
        <div style="display: flex; flex-direction: column; align-items: center">
          <button [routerLink]="['/sales']"
    class="
      bg-white
      hover:bg-gray-100
      text-gray-800
      font-semibold
      py-2
      px-4
      border border-gray-400
      rounded
      shadow
      mb-2
    "
  >
  Verkaufszahlen
  </button>
  <button [routerLink]="['/influence']"
    class="
      bg-white
      hover:bg-gray-100
      text-gray-800
      font-semibold
      py-2
      px-4
      border border-gray-400
      rounded
      shadow
    "
  >
  Einfluss der Produkattribute auf Verkaufszahlen
  </button>
</div>
        
