.lowerGreating {
    font-size: 30px;
    font-family: "AdineuePRO",Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

  .steckBrief {
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    padding:50px
  }

  p {
    text-align:center ; 
    vertical-align: middle;
    display: table-cell;   
    
  }