.banner {
    @apply bg-white p-5 text-center text-lg border-b-2;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }


#choose {
    display: flex;
    justify-content: center;
    font-size: 16px;
}



#logo{
    background-size: contain;
}

