<div>
<p id="greating">Produktinformationen zum Schuhmodell Adidas Ultraboost </p>
</div>
<div style="height: 2px; background-color: #eaeff5" class="my-2"></div>


<div class="grid-2-columns">
    <div >
<p class="steckBrief">
Analysiert werden die Verkaufszahlen des Schuhmodells Adidas Ultraboost. Dieser Schuh wird in verschiedenen 
Ausführungen angeboten. Neben Farbe, Material und Sportart gibt es noch weitere Produkteigenschaften die den 
Absatz des Schuhs beeinflussen. Zum Beispiel wird der Schuh auch „mit Socken“ oder „ohne Socken“ angeboten. 
Je nach Konfiguration verkauft sich der Schuh unterschiedlich häufig.

Das Analyse-Tool gibt darüber Auskunft, welche Eigenschaften den Schuhabsatz beeinflussen. Ein Wert von 5 
deutet daraufhin, dass dieses Merkmal den Absatz stark positiv beeinflusst. Ein Wert von 1 deutet hingegen 
darauf hin, dass dieses Merkmal den Absatz nicht sonderlich beeinflusst.
</p>
</div>
<div>
<img src="assets/images/adidasProd.jpg" id="network" style="margin: 0 auto;"/>
</div>
</div>